# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.M3.iml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\dogukankse\Desktop\M3\.idea\.idea.M3\.idea/dataSources/
/dataSources.local.xml
